:root {
  --firstcolor: #323232d1;
  --secondcolor: #373737;
  --textcolor: #ffffff;
  --backgroundcolor: #282828;
}

.lightMode {
  --firstcolor: #ffffff;
  --secondcolor: #939393;
  --textcolor: #3b3b3b;
  --backgroundcolor: #d3d3d3;
}

#icon {
  height: auto;
  width: 3vw;
  max-width: 30px;
  cursor: pointer;
  min-width: 40px;
}

body {
  background-color: var(--backgroundcolor);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16pt;
  color: var(--textcolor);
}

.container {
  text-align: center;
  display: flex;
}

.settings {
  flex: 1;
}

.multiplayer {
  flex: 1;
}

.game {
  background-color: var(--secondcolor);
}

.score {
  flex: 1;
}

.status-action {
  display: flex;
  justify-content: space-around;
}

.game-grid {
  background-color: black;
  display: grid;
}

.game-cell {
  display: flex;
  cursor: pointer;
}

table, td {
  background-color: var(--firstcolor);
  border: 1px solid var(--textcolor);
  border-collapse: collapse;
}

td {
  width: 150px;
  height: 150px;
  font-size: 50pt;
}

button {
  width: 50%;
  height: auto;
  text-align: center;
  margin: 1pt;
  font-family: 'Times New Roman', Times, serif;
  font-style: bold;
  font-size: 1.5vw;
  background-color: var(--secondcolor);
  color: var(--textcolor);
  border-radius: 30px;
}

input[type=text] {
  font-size: 1vw;
}



/* Standard bleibt für Desktop */

/* ===== Mobile Anpassungen ===== */
@media (max-width: 768px) {
  body {
    font-size: 4vw;
  }

  #icon {
    width: 10vw;
    min-width: 30px;
  }

  .container {
    flex-direction: column; /* untereinander statt nebeneinander */
    align-items: center;
  }

  .game {
    width: 100%; /* Spielbereich füllt gesamte Breite */
    margin: 0 auto;
  }

  button {
  width: 50%;
  height: auto;
  text-align: center;
  margin: 1pt;
  font-family: 'Times New Roman', Times, serif;
  font-style: bold;
  font-size: 4.5vw;
  background-color: var(--secondcolor);
  color: var(--textcolor);
  border-radius: 30px;
}

input[type=text] {
  font-size: 3vw;
}

  table {
    width: 100%; /* Tabelle über gesamte Breite */
    height: auto;
    aspect-ratio: 1 / 1; /* Hält die Tabelle quadratisch */ 
  }

  td {
    width: 33.33%; /* Jede Zelle nimmt ein Drittel der Breite */
    height: 33.33%; 
    aspect-ratio: 1 / 1; /* Hält die Zellen quadratisch */;
    font-size: 10vw; /* Schriftgröße skaliert mit Bildschirm */
  }

  input[type=button] {
    width: 80%;
    font-size: 14pt;
  }
}
